* {
    font-family: 'Courier New', Courier, monospace;
}
.header {
    background-color: #1f2937;
    color: white;
    padding: 10px 0;
    display: flex;
}
#headerlinks{
    margin-left: auto;
    margin-right: 10px;
}
li {
    display: inline;
}

.hero{
    background-color: #1f2937;
    color: white;
    padding: 10px 0;
    text-align: left;

}
.hero img {
    width: 50px;
    height: 50px;
}
button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    
}
.boxes > div {
    width: 20%; /* Adjust as needed */
    border: 5px solid blue; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    border-radius: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    
}




footer {
    background-color: #1f2937;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
